body{
	background-color: #cfcfcf;
}
p{
	font-family: cursive,Georgia, Serif;
}
.about{
	width: 920px;
	background-color: #fff;
	margin: 20px auto 20px;
	height: 1000px;
}
.head{
	height: 30px;
	width: 920px;
	border-bottom: 10px solid #999;
}
.head-text{
	float: right;
	font-weight: 600;
	line-height: 0px;
	margin-right: 20px;
	font-style: italic;
	color: #999;
}