/* Style for our header texts
	* --------------------------------------- */
    
    #fullpage {
        display: none;
    }
    
    h1 {
        font-size: 5em;
        font-family: arial, helvetica;
        color: #fff;
        margin: 0;
        padding: 0;
    }
    
    .intro p {
        color: #fff;
    }
    /* Centered texts in each section
	* --------------------------------------- */
    
    .section {
        text-align: center;
    }
    /* Fixed header and footer.
	* --------------------------------------- */
    
    #header,
    #footer {
        opacity: 0.2;
        position: fixed;
        height: 2em;
        display: block;
        width: 100%;
        background: #333;
        z-index: 9;
        text-align: center;
        color: #f2f2f2;
        padding: 20px 0 0 0;
    }
    
    #header {
        top: 0px;
    }
    
    #footer {
        bottom: 0px;
    }
    
    #section0 {
        background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
        background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
        background: linear-gradient(#4BBFC3, #7BAABE);
    }
    
    #section1 {
        background: -webkit-gradient(linear, top left, bottom left, from(#969ac6), to(#636F8F));
        background: -webkit-linear-gradient(#969AC6, #636F8F);
        background: linear-gradient(#969AC6, #636F8F);
    }
    
    #section2 {
        background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
        background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
        background: linear-gradient(#4BBFC3, #7BAABE);
    }
    
    #section3 {
        background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
        background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
        background: linear-gradient(#4BBFC3, #7BAABE);
    }
    
    #section4 {
        background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
        background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
        background: linear-gradient(#4BBFC3, #7BAABE);
    }
    /* Bottom menu
	* --------------------------------------- */
    
    #infoMenu {
        bottom: 80px;
    }
    
    #infoMenu li a {
        color: #fff;
        z-index: 999;
    }
    
    body {
        background: #1c2e40;
    }
    
    .centerMe {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 25px;
        width: 10px;
        border-radius: 10%;
        background: #2c3e50;
        border-top-color: #2980b9;
        -webkit-animation: fade2 1s infinite;
        animation: fade2 1s infinite;
        -webkit-transition: background .2s;
        transition: background .2s;
    }
    
    .loading:after,
    .loading:before {
        content: '';
        position: absolute;
        display: block;
        height: 20px;
        width: 10px;
        background: #2c3e50;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -15px;
        border-radius: 10%;
        -webkit-animation: fade1 1s infinite;
        animation: fade1 1s infinite;
        -webkit-transition: background .2s;
        transition: background .2s;
    }
    
    .loading:before {
        left: 15px;
        -webkit-animation: fade3 1s infinite;
        animation: fade3 1s infinite;
    }
    
    @-webkit-keyframes fade1 {
        0% {
            background: #2980b9;
        }
    }
    
    @keyframes fade1 {
        0% {
            background: #2980b9;
        }
    }
    
    @-webkit-keyframes fade2 {
        33% {
            background: #2980b9;
        }
    }
    
    @keyframes fade2 {
        33% {
            background: #2980b9;
        }
    }
    
    @-webkit-keyframes fade3 {
        66% {
            background: #2980b9;
        }
    }
    
    @keyframes fade3 {
        66% {
            background: #2980b9;
        }
    }